{{> navbar}}
<div class="container mt-3">
  <header class="my-5">
    <div class="container py-4">
      <div class="row container d-flex justify-content-center">
        <div class="col-md-6 col-lg-6 text-center">
          <div class="container justify-content-center">
            <img src="/img/contact-book-icon-4.jpg" width="200px">
          </div>
          <h1>Libreta de contactos actualizada</h1>
          <div class="card text-center">
            <div class="card-header">
              ¡Agrega a las personas que desees!
            </div>
            <div class="card-body">
              <h5 class="card-title">Utiliza el menú superior para agregar nuevos contactos</h5>
              <!-- <p class="card-text">Pincha la cuestioncita y sabrás de mi ;)</p>
              <a href="/about" class="btn btn-primary">About me!</a>  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
    <hr>
</div>

{{#each articles}}
<div class="container-lg">
  <div class="row p-2">
    <!-- Columnas Superiores -->
    <div class="col-md-2">
    </div>
    <div class="col-md-2 bg-light p-1">
      <img class="rounded-circle" src="/img/{{this.picture}}" width="200px" height="200px">
    </div>
    <div class="col-md-6 bg-light">
      <p class="p-3"></p>
      <p class="card-text text-secondary">Nombre: {{this.first_name}} {{this.last_name}}</p>
      <p class="card-text text-secondary">Teléfono: {{this.phone}}</p>
      <p class="card-text text-secondary">Email: {{this.email}}</p>
    </div>
    <div class="col-md-2">
    </div>
    <!-- Columnas Inferiores -->
    <div class="col-md-2"></div>
    <div class="col-md-8 d-flex justify-content-center bg-light card-footer border">
      <a href="/articles/{{this.id}}" class="btn btn-primary btn-sm">Editar Información</a>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
{{/each}}

<!--
{{#each articles}}
  <div class="container py-4">
    <div class="padding">
      <div class="row container d-flex justify-content-center">
        <div class="col-md-8 col-lg-8">
          <div class="card bg-light">
            <div class="container ">
              <div class="row">
                <div class="col-sm p-4">
                  <img src="/img/{{this.picture}}" width="200px" height="200px">
                </div>
                <div class="col-sm-5 p-4">
                  <div class="card-body">
                    <p class="card-text text-secondary">Nombre: {{this.first_name}} {{this.last_name}}</p>
                    <p class="card-text text-secondary">Teléfono: {{this.phone}}</p>
                    <p class="card-text text-secondary">Email: {{this.email}}</p>
                    <a href="/articles/{{this.id}}" class="btn btn-primary btn-sm">Editar Información</a>
                  </div>
                </div>
              <div class="col-sm-3">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}} -->